# Byte-compiled / optimized / DLL files
**__pycache__/
**.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py


**.python-version

# Environments
.env
.venv
env/
venv/
ENV/
**.venv
**.venv/

**.DS_Store
**pysqlite/