**__pycache__/
**.pytest_cache/

profile_default/
ipython_config.py

**.python-version
**.DS_Store
**.ipynb_checkpoints

.env
.venv
env/
venv/
ENV/
**.venv
**.venv/

# **backend/app/db/faiss_index/index.faiss
# **backend/app/db/faiss_index/index.pkl
# **backend/app/db/sqlite_history/chat_history.db